/* General Styles */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Styles */
nav {
    background-color: #333;
    color: bisque;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    font-size: 24px;
    font-weight: bold;
}
nav .links {
    display: flex;
    gap: 15px; 
}

nav .links a {
    color: bisque;
    text-decoration: none;
    font-size: 18px; 
}

nav .links a:hover {
    text-decoration: underline; 
    color: lightgray;
}

/* Footer Styles */
footer {
    background-color: #222;
    color: bisque;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer .links-footer {
    display: flex;
    gap: 10px;
}

footer a {
    color: bisque;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
    color: lightgray;
}

/* Splash Section */
.splash {
    background-color: #f28500;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.splash h1 {
    color: #1e3a8a;
    font-size: 40px;
    font-family: cursive;
    margin-bottom: 20px;
}

.splash img {
    border: #222;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.splash p {
    color: #e0f2fe;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

/* Horizontal Rules */
hr {
    border: 2px solid #f59e0b;
}

/* Sections */
section {
    padding: 20px;
    margin: 10px auto;
    background-color: #2563eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

/* Section Headings */
section h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f28500;
    margin-bottom: 10px;
}

/* Paragraph Styles */
section p {
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e0f2fe;
    list-style-type: circle;
    line-height: 1.5;
}

/* link styles */
section a {
    color: #f28500;
    text-decoration: none;
    font-size: 16px;
}
section a:hover {
    color: #f59e0b;
    text-decoration: underline;
}

/* List Styles */
ul {
    list-style-type: circle;
    font-size: 16px;
    color: #e0f2fe;
}

dl {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    color: #e0f2fe;
}
dl dt{
    padding-left: 5px;
}
dl dd{
    padding-left: 5px;
    list-style: circle;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f28500;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    outline: auto;
    padding: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #1e3a8a;
}

.card img {
    border-radius: 5px 5px 0 0;
    padding-top: 15px;
}

.card h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #2563eb;
}

/* Contact Page Styles */
.one-col {
    background-color: #2563eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 20px auto;
}

section h1{
    text-align: center;
    margin-bottom: 20px;
    color: #f28500;
    font-size: 24px;
}

.one-col h3{
    text-align: center;
    color: #f28500;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form input:focus, form textarea:focus {
    border-color: #333;
    outline: none;
}

form button {
    width: 100%;
    background-color: #333;
    color: bisque;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

form button:hover {
    background-color: #555;
}
